#name-input,
#email-input,
#phone-input,
#message-input {
  background-color: transparent !important;
  border-color: #000 !important;
  color: #000 !important;
  margin-bottom: 1em !important;
}

#message-input {
  margin-bottom: 0 !important;
}

#name-input::placeholder,
#phone-input::placeholder,
#email-input::placeholder,
#message-input::placeholder {
  color: #0008 !important;
}

#form-submit {
  font-size: 0.95em;
}
